body {
  background: #8F0C25; }

* {
  font-family: 'Open Sans', sans-serif; }

.pokedex {
  -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.45);
  display: flex;
  height: 600px;
  width: 400px;
  background: #DC0A2D;
  margin: 100px auto;
  position: relative;
  align-items: center;
  flex-direction: column; }
  .pokedex .loading-wall {
    display: flex;
    height: 600px;
    width: 400px;
    background: #8F0C25;
    margin: 0 auto;
    position: absolute;
    left: 0px;
    top: -600px;
    z-index: 23; }
  .pokedex .loading {
    display: flex;
    height: 600px;
    width: 400px;
    background: #DEDEDE;
    margin: 0 auto;
    position: absolute;
    left: 0px;
    z-index: 10;
    transition: all 2s ease-in-out; }
    .pokedex .loading.hide {
      animation: hide 2s ease-in-out 0s 1 alternate forwards; }
    .pokedex .loading .loading-text {
      font-family: "Open Sans", sans-serif;
      margin: auto;
      font-size: 50px; }
  .pokedex .menu-wall {
    height: 600px;
    width: 400px;
    background: #8F0C25;
    margin: 0 auto;
    position: absolute;
    left: -400px;
    z-index: 2; }
  .pokedex .menu {
    overflow: scroll;
    height: 600px;
    width: 400px;
    background: #DEDEDE;
    margin: 0 auto;
    position: absolute;
    transition: all 1s ease-in-out;
    left: -400px;
    z-index: 1; }
    .pokedex .menu .menu-title {
      display: block;
      color: black;
      font-size: 40px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      text-align: left;
      padding-left: 30px;
      padding-top: 35px; }
    .pokedex .menu .x {
      position: absolute;
      font-size: 40px;
      top: 35px;
      left: 340px;
      color: black; }
    .pokedex .menu .pokemon {
      font-size: 30px;
      font-weight: 500;
      padding-top: 40px;
      text-align: center;
      display: block;
      font-family: "Open Sans", sans-serif; }
    .pokedex .menu.active {
      left: 0; }
  .pokedex .fa {
    cursor: pointer;
    font-size: 30px;
    color: #DEDEDE;
    position: absolute;
    top: 45px;
    left: 40px;
    z-index: 0; }
  .pokedex .title {
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-top: 35px;
    color: #DEDEDE;
    display: block; }
  .pokedex .pokemon-img {
    background: #DEDEDE;
    width: 170px;
    height: 150px;
    display: flex;
    margin: 40px auto;
    border-radius: 10px; }
    .pokedex .pokemon-img img {
      width: 150px;
      margin: auto; }
  .pokedex .pokemon-name {
    top: 49%;
    position: absolute;
    color: #DEDEDE;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 600; }
  .pokedex input {
    margin-top: 30px;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px; }
    .pokedex input:focus {
      outline: none; }
  .pokedex .btn {
    background: #28AAFD;
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #DEDEDE;
    margin-top: 30px;
    width: 30%;
    border-radius: 5px;
    cursor: pointer; }
  .pokedex .copyright {
    position: absolute;
    bottom: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px; }

.bounce {
  animation: bounce 1s cubic-bezier(0.35, -0.18, 0.54, 0.8); }

@keyframes bounce {
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
@keyframes hide {
  0% {
    top: 0; }
  100% {
    top: -600px; } }

/*# sourceMappingURL=main.css.map */
